<app-layout xmlns="http://www.w3.org/1999/html">
    <mat-toolbar class="page-header" role="heading">
        <div class="studentD">
        <h1 class="student">Student profile</h1>
        </div>
    </mat-toolbar>

    <div class="example-button-row1">

            <div >
                <p>Класс: {{name}}</p>
                <p>Классный руководитель: {{birthdate}}</p>
            </div>


        <div>
            <p>Адрес:</p>
            <p>Должность:</p>
            <p>Достижения:</p>
        </div>

    </div>
    <app-footer></app-footer>
</app-layout>
