
.content{
    top: 50%;
    left: 50%;
    padding: 10px ;
    align-content: center;
    /*background-color: #3CD4A0;*/


}

.content1{
    margin: 20px 300px;
    width: 50%;
    /*background-color: grey;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    background-color: #536DFE;
    border-radius: 15px;
}
 h3 {

    color: white;
    text-align: center;
    margin: 5px;
}

.body{
    align-items: center;
  /*  background-color: red;*/
    color: white;
  border-radius: 15px;
}
.mat-card{
  border-radius: 15px;
}
